html, body {
    font-family:sans-serif;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.list {
  margin:0px;
  padding:0px;
  overflow:scroll;
}
.list > li {
  display:block;
  background-color: #eee;
  padding:10px;
  box-shadow: inset 0 1px 0 #fff;
}
.avatar {
  max-width: 150px;
}
img {
  max-width: 100%;
}
h3 {
  font-size: 16px;
  margin:0 0 0.3rem;
  font-weight: normal;
  font-weight:bold;
}
p {
  margin:0;
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  line-height: 2em;
  font-size: 16px;
  margin-bottom:10px;
  width:96%;
  margin:2%;
}
input:focus {
  outline:none;
  border-color:#aaa;
}



#piesn {
    height: 100%;
}

.pozycja a{
    color: black;
    text-decoration: none;
}


#pozycja:hover {
    border: 1px black solid;
}





#tytul {
      padding: 5px;
  margin: 0px;
  min-height: 30px;
  background-color: #eee;
  text-align: center;
  border-bottom: 1px solid black;
}


#tekst {
    padding:5px;
    overflow: scroll;
    height: 300px;
    width: 100%;
    box-sizing: border-box;
    margin:0px;
    font-size:14px;

}




/* For mobile phones: */
#container {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    min-height: 100%;
}

@media only screen and (min-width: 600px) {
  #container {
    width: 500px;
    border: 1px grey solid;
    padding:10px;
    min-height: 90%;
    margin: 10px auto;
  }
}

